{% extends "base.html" %}
{% load comments %}

{% block title %}{{ species.name }}{% endblock %}

{% block content %}
<h2>{{ genus.name }} {{ species.name }}</h2>
{% for photo in flickr_photos %}
    {% if forloop.first %}
        <div class="badge"><img src="http://www.flickr.com/favicon.ico" type="image/vnd.microsoft.icon" class="flickr_icon" /></div>
        <a href="{{ photo.url }}"><img src="{% if forloop.first %}{{ photo.src_500 }}{% else %}{{ photo.src }}{% endif %}" alt="{{ photo.title }}" /></a><br />
        
    {% endif %}
{% endfor %}

<a href="http://www.fishbase.org/Summary/speciesSummary.php?genusname=Symphysodon&amp;speciesname=discus&amp;lang=English">Fishbase</a>
{% endblock %}

{% block sidebar %}	
    <div class="options">
        <a href="/fish/{{ fish.id }}/add_to_aquarium">Add to aquarium</a>
        <div class="clear"><span></span></div>
    </div>
    
    <div class="item">
        <h4>Taxa</h4>
        <ul class="taxa_list">
            <li><a href="/taxa/kingdom/{{ species.genus.family.order.fish_class.phylum.kingdom.name }}">{{ species.genus.family.order.fish_class.phylum.kingdom.name }}</a></li>
            <ul class="taxa_list">
                <li><a href="/taxa/phylum/{{ species.genus.family.order.fish_class.phylum.name }}">{{ species.genus.family.order.fish_class.phylum.name }}</a></li>
                <ul class="taxa_list">
                    <li><a href="/taxa/class/{{ species.genus.family.order.fish_class.name }}">{{ species.genus.family.order.fish_class.name }}</a></li>
                    <ul class="taxa_list">
                        <li><a href="/taxa/order/{{ species.genus.family.order.name }}">{{ species.genus.family.order.name }}</a></li>
                         <ul class="taxa_list">
                            <li><a href="/taxa/family/{{ species.genus.family.name }}">{{ species.genus.family.name }}</a></li>
                        </ul>
                    </ul>
                </ul>
            </ul>
        </ul>
    </div>
    
    <div class="item">
        {% for photo in flickr_photos %}
            {% if forloop.first %}{% else %}
            <div class="badge"><img src="http://www.flickr.com/favicon.ico" type="image/vnd.microsoft.icon" class="flickr_icon" /></div>
    		<a href="{{ photo.url }}"><img src="{{ photo.src_l }}" alt="{{ photo.title }}" style="margin-right: 2px;" /></a>{% endif %}
    	{% endfor %}
        <!-- <br /><em>Name your fish photos, {{ fish.species.genus.title }} {{ fish.species.title }} on Flickr</em> -->
    </div>
{% endblock %}