{% extends "base.html" %}

{% block title %}blogs{% endblock %}

{% block content %}
{% if latest_entry_list %}
    {% for entry in latest_entry_list %}
        <h2><a href="/blogs/{{ entry.id }}/">{{ entry.title }}</a></h2>
        <em style="font-size: 7pt;">{{ entry.created }}</em>
        <p>{{ entry.body|safe|linebreaks }}</p>
    {% endfor %}
    </ul>
{% else %}
    <p>No blogs are available.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
    <div class="item">
        <h3>News</h3>
        {% for entry in latest_entry_list %}
            <p><a href="/blogs/{{ entry.id }}/">{{ entry.title }}</a></p>
        {% endfor %}
    </div>
{% endblock %}
