{% extends "base.html" %}

{% block title %}{{ database.name }} - databases{% endblock %}

{% block content %}
<h2>{{ database.display_name }}</h2>
<a href="{{ database.link|cut:"#" }}">{{ database.link|cut:"#" }}</a>
<p>{{ database.abstract }}</p>

<h3>Info</h3>
<table cellspacing="1" cellpadding="5" border="0" class="data-table">
    <tr>
        <td>taxa</td>
        <td>{{ database.taxa }}</td>
    </tr>
    <tr>
        <td>contact person</td>
        <td>{{ database.contact_person }}</td>
    </tr>
    <tr>
        <td>taxonomic coverage</td>
        <td>{{ database.taxonomic_coverage }}</td>
    </tr>
    <tr>
        <td>version</td>
        <td>{{ database.version }}</td>
    </tr>
    <tr>
        <td>organization</td>
        <td>{{ database.organization }}</td>
    </tr>
    <tr>
        <td>species estimate</td>
        <td>{{ database.species_est }}</td>
    </tr>
    <tr>
        <td>species count</td>
        <td>{{ database.species_count }}</td>
    </tr>
    <tr>
        <td>authors/editors</td>
        <td>{{ database.authors_editors }}</td>
    </tr>
    <tr>
        <td>accepted species names</td>
        <td>{{ database.accepted_species_names }}</td>
    </tr>
    <tr>
        <td>species synonyms</td>
        <td>{{ database.species_synonyms }}</td>
    </tr>
    <tr>
        <td>total names</td>
        <td>{{ database.total_names }}</td>
    </tr>
    <tr>
        <td>common names</td>
        <td>{{ database.common_names }}</td>
    </tr>    
</table>
{% endblock %}

{% block sidebar %}
	<div class="item">
		<p><a href="/databases/">Back to databases</a></p>
	</div>
	{% if specialists %}
	<div class="item">
	    <h3>Specialists</h3>
	    <ul>
	        {% for specialist in specialists %}
                <li><a href="/specialist/{{ specialist.id }}">{{ specialist.name }}</a></li>
	        {% endfor %}
	    </ul>
	</div>
	{% endif %}
{% endblock %}
