{% extends "base.html" %}
{% load comments %}

{% block title %}{{ fish.species.genus.title }} {{ fish.species.title }}{% endblock %}

{% block content %}
	{{ cn }}
	<em><a href="/fish/family/{{ fish.species.genus.family.id }}">{{ fish.species.genus.family.title }}</a> <a href="/fish/order/{{ fish.species.genus.family.order.id }}">{{ fish.species.genus.family.order.title }}</a> <a href="/fish/class/{{ fish.species.genus.family.order.fish_class.id }}">{{ fish.species.genus.family.order.fish_class.title }}</a> | {{ fish.created|timesince }} ago</em>
    <h2 style="margin-bottom: 30px;"><a href="/fish/genus/{{ fish.species.genus.id }}">{{ fish.species.genus.title }}</a> {{ fish.species.title }}</h2>
	{% for flickr_photo in flickr_photos %}
		{% if forloop.first %}<div class="large">{% endif %}<a href="{{ flickr_photo.url }}"><img src="{{ flickr_photo.source }}" style="margin-right: 10px;" /></a>{% if forloop.first %}</div>{% endif %}
	{% endfor %}
	{{ fish.body|linebreaks }}
	{{ common_name }}
	<h3 class="info_left">names</h3>
	<ul class="info_right">
		{% for cn in common_names %}
	        <li><a href="/fish/common_name/{{ cn.id }}">{{ cn.title }}</a> <em><a href="/fish/{{ fish.id }}/common_name/{{ cn.id }}/remove/">r</a> <a href="/fish/common_name/{{ cn.id }}/delete/">d</a></em></li>
	    {% endfor %}
		<li><em><a href="javascript:;" onclick="jQuery('#add_common_name').toggle()">Add</a></em></li>
	</ul>
	<form method="post" action="" id="add_common_name" style="display: none;">
		<input type="hidden" name="action" value="add_common_name" />
		<ul class="info_right">
			<li><em>common name</em></li>
			<li><input type="text" name="title" value="" /></li>
			<li><input type="submit" value="add" />
		</ul>
	</form>
	<div class="clear bot-border"><span></span></div>
	
	
	
	<h3 class="info_left">diet</h3>
	<ul class="info_right">
		{% for diet in diets %}
	        <li><a href="/fish/diet/{{ diet.id }}">{{ diet.title }}</a> <em><a href="/fish/{{ fish.id }}/diet/{{ diet.id }}/remove/">r</a> <a href="/fish/diet/{{ diet.id }}/delete/">d</a></em></li>
	    {% endfor %}
		<li><em><a href="javascript:;" onclick="jQuery('#add_diet').toggle()">Add</a></em></li>
	</ul>
	<form method="post" action="" id="add_diet" style="display: none;">
		<input type="hidden" name="action" value="add_diet" />
		<ul class="info_right">
			<li><em>diet</em></li>
			<li><input type="text" name="title" value="" /></li>
			<li><input type="submit" value="add" />
		</ul>
	</form>
	<div class="clear bot-border"><span></span></div>
	
	
	
	
	<h3 class="info_left">origins</h3>
	<ul class="info_right">
		{% for origin in fish_origins %}
	        <li><a href="/fish/origin/{{ origin.id }}">{{ origin.title }}</a> <em><a href="/fish/{{ fish.id }}/origin/{{ origin.id }}/remove/">r</a> <a href="/fish/origin/{{ origin.id }}/delete/">d</a></em></li>
	    {% endfor %}
		<li><em><a href="javascript:;" onclick="jQuery('#add_origin').toggle()">Add</a></em></li>
	</ul>
	<form method="post" action="" id="add_origin" style="display: none;">
		<input type="hidden" name="action" value="add_origin" />
		<ul class="info_right">
			<li><em>origin</em></li>
			<li><input type="text" name="title" value="" /></li>
			<li><input type="submit" value="add" />
		</ul>
	</form>
	<div class="clear bot-border"><span></span></div>
{% endblock %}

{% block sidebar %}
	<div class="item">
		<ul>
			<li>Size: {{ fish.min_size }}cm - {{ fish.max_size }}cm <em>({{ min_size_in }}in - {{ max_size_in }}in)</em></li>
			<li>ph: {{ fish.min_ph }} - {{ fish.max_ph }}</li>
			<li>Temp: {{ fish.min_temp }}&deg;C - {{ fish.max_temp }}&deg;C <em>({{ min_temp_f }}&deg;F - {{ max_temp_f }}&deg;F)</em></li>
		</ul>
	</div>
{% endblock %}
