{% extends "base.html" %}
{% load comments %}

{% block title %}{{ family.name }} - family{% endblock %}

{% block content %}
<h2>{{ family.name }}</h2>

<h3>Species</h3>
<ul class="light-list">
{% for species in species_list.object_list %}
    <li><a href="http://aquaticore.com:31337/taxa/species/{{ species.name }}">{{ species.name }}</a> <span class="light" style="float: right;">&nbsp;&nbsp;{{ species.created|date:"M d, Y" }}</span> </li>
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if species_list.has_previous %}
            <a href="?page={{ species_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ species_list.number }} of {{ species_list.paginator.num_pages }}.
        </span>

        {% if species_list.has_next %}
            <a href="?page={{ species_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% ssi /web/aquaticore/templates/taxa/taxa_list.html parsed %}
{% endblock %}

{% block sidebar %}
    <div class="item">
        <h3>Taxonomy</h3>
        <ul class="taxa_list">
            <li><a href="/taxa/kingdom/{{ family.order.fish_class.phylum.kingdom.name }}">{{ family.order.fish_class.phylum.kingdom.name }}</a> <span class="light">kingdom</span></li>
            <ul class="taxa_list">
                <li><a href="/taxa/phylum/{{ family.order.fish_class.phylum.name }}">{{ family.order.fish_class.phylum.name }}</a> <span class="light">phylum</span></li>
                <ul class="taxa_list">
                    <li><a href="/taxa/class/{{ family.order.fish_class.name }}">{{ family.order.fish_class.name }}</a> <span class="light">class</span></li>
                    <ul class="taxa_list">
                        <li><a href="/taxa/order/{{ family.order.name }}">{{ family.order.name }}</a> <span class="light">order</span></li>
                    </ul>
                </ul>
            </ul>
        </ul>
    </div>
{% endblock %}