{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h2>About Aquaticore</h2>
    <p>Aquaticore will become home to a user-driven compendium of aquarium knowledge, including detailed wiki-like pages containing all pertinent knowledge about fish, plants, substrates, products, equipment, etc. From fish cures to how to choose a filter, aquaticore.com will have you covered. Expected launch date is July 2008. For more information or if you wish to donate time and/or resources, please contact dave@aquaticore.com</p>
{% endblock %}
