{% extends "base.html" %}
{% load comments %}

{% block title %}{{ family.title }}{% endblock %}

{% block content %}
<em><a href="/fish/family/{{ family.genus.family.id }}">{{ genus.family.title }}</a> <a href="/fish/order/{{ family.order.id }}">{{ family.order.title }}</a> <a href="/fish/class/{{ family.order.fish_class.id }}">{{ family.order.fish_class.title }}</a> | {{ family.created|timesince }} ago</em>
<h2>{{ family.title }}</h2>
<p><em>Family | {{ family.created|date:"F j, Y" }}</em></p>
    {% ssi /web/aquaticore/templates/fish/fish_list.html parsed %}
{% endblock %}
